.vs/JPGAndRawFotoSelector/v17/.suo
JPGAndRawFotoSelector/bin/
JPGAndRawFotoSelector/obj/
MTestJPGAndRawFotoSelector/obj/
MTestJPGAndRawFotoSelector/bin/
MTestJPGAndRawFotoSelector/obj/Debug/net6.0-windows/MTestJPGAndRawFotoSelector.csproj.FileListAbsolute.txt
MTestJPGAndRawFotoSelector/obj/Debug/net6.0-windows/MTestJPGAndRawFotoSelector.assets.cache
JPGAndRawFotoSelector/obj/Debug/net6.0-windows/JPGRawFotoSelector.csproj.FileListAbsolute.txt
JPGAndRawFotoSelector/obj/Debug/net6.0-windows/JPGRawFotoSelector.assets.cache
.vs/JPGAndRawFotoSelector/v17/.suo
